/* styling that moves the navigation to the right */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    background: white;
}

/* .nav-active {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 15px;
    background: #E4B2B1;
} */

/* css for the name */
.nav-brand {
    font-size: 25px;
    line-height: 40px;
    padding-left: 22px;
}

/* css that makes the name grey */
.navbar-light .navbar-brand {
    color: #808080;
}

/* div that houses all navigation items */
.nav-links {
    font-size: 18px;
    padding-right: 22px;
    padding-left: 22px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

/* vertical line between navigation items  */
.nav-item {
    border-right: 0.5px solid #808080 !important;
    line-height: 0.5px;
}

.nav-item a:hover {
    background: transparent;
    color:#E4B2B1;
}

/* removed the line from the last navigation item */
.nav-item:last-child {
    border-right: none !important;
 }

.navbar-collapse {
    flex-basis: 100%;
    /* flex-grow: 1; */
    align-items: center;}