#about,
#work,
#testimonial,
#services,
#contact {
  padding-top: 100px;
  padding-bottom: 100px;
}


.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 459px;
    height: 300px;
}


/* General Styling for Cards */
/* .card {
  border: none;
  height: 100%;
  border: none;
  border-radius: 0%;
} */

h1{
  margin: 0;
  font-family: 'Karla', sans-serif;
  color: #808080#808080
}

body {
  font-family: 'Karla', sans-serif;
  color: #808080
}


/* Navigation */

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.80)
}

/* Carousel */
.tst-author-info img {
  border-radius: 100%;
}


/* Featured Header */

@media (min-width: 800px) {

  #featureHeader {
    display: "flex";
  }

  #notetoreader {
    float: "right"
  }
  
  #note {
    padding-top: 45px 
  }

}

@media (max-width: 600px) {
  #note {
    padding-top: 20px
  }
}



/* Book Edits */

#motion {
  position: relative;
  top: 0; 
  transition: top ease 0.5s
}

#motion:hover{
  top: -10px
}

/* CopyWriting */

#copy-project a {
  color: inherit;

}

/* PersonalWriting CSS */

#personal {
  background-color:  #f6d06a;
  padding-top: "80px";
  padding-bottom: "100px", 
}
.blogHeader {
  font-size: 30px;
  font-weight: 400px;
  text-align: center;
  color: white;
  line-Height: 150px;
  height: 150px;
}

.blog-list {
  font-family: 'Cinzel', serif;
  font-size: 14px;
}

.blog-card {
  border: none;
 
}

.blog-card:hover {
  filter: opacity(90%) brightness(150%) saturate(100%);
  transition:  ease-in-out .30s;
}

.blog-list {
  padding-top: 20px;
}

.blog-list ul {
  list-style-type: none;
}

.blog-list a{
  color: inherit;
  letter-spacing: 0.5px
}



/* Professional Services */
.svs {
  background-color: #d3d3d3;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: "center";
}


.svs_list {
  border: none;
  background-color: #f6d06a;
}

.svs_list ul {
  list-style-type: none;
  padding-left: 2rem;
  padding-right: 2rem
  
}

/* CopyWriting CSS */


/* Read with Coffee Section*/


/* Newsletter Column  */
.newsletter-col {
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Karla';
  font-weight: 200
}

.newsletter-card {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #808080;
  color: white;
  border: none;
  border-radius: 0px; 
  text-align: center;
  height: 100%;
  padding-top: 20px;
  font-size: 18px
}

.newsletter-card ul {
  list-style-type: none;
  padding-top: 20px;
}

.newsletter-card ul a{
  color: inherit;
}

/* On Writing Books Column */

.card-edit {
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  border-radius: 0px; 
}

/* Favorite Books and Authors Column */

.card-favorite {
  border-radius: 0px;
  padding-right: 0px;
  border: none;
  border-radius: 0px; 
}


/* Books reviews  */

.reviews-col {
  padding-left: 0px;
  padding-right: 0px;
}

.reviews-card {
  /* text-align: center; */
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  border-radius: 0px; 
  font-family: 'Karla';
  font-weight: 400;
  color: #808080;
}

.reviews-card ul {
  list-style-type: none;
  font-size: 18px;
}

.reviews-card ul a{
  color: inherit;
}

.reviews body {
  font-size: 20px;
}




/* 800x or more */
@media (min-width: 800px) {
  #copy-project {
    padding-top: 20px;
  }
  .blogHeader {
    line-Height: 150px;
    height: 70px;
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .blogHeader {
    line-Height: 40px;
    height: 20px;
    font-size: 12px;
;
}}
/* 400px or less */
@media (max-width: 400px) {
  .blogHeader {
    line-height: 150px;
    height: 319px
  }
}

/* 800px or more */
@media (min-width: 1000px) {
  #copy-project {
    padding-top: 20px;
  }
}

