#about,
#work,
#testimonial,
#services,
#contact {
  padding-top: 100px;
  padding-bottom: 100px;
}


.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 459px;
    height: 300px;
}

h1{
  margin: 0;
  font-family: 'Karla', sans-serif;
  color: #808080#808080
}

body {
  font-family: 'Karla', sans-serif;
  color: #808080
}
