h1{
  margin: 0;
  font-family: 'Karla', sans-serif;
}

body {
  font-family: 'Karla', sans-serif;
}


/* .container {
  background-image: url(./image/background.jpg);
  background-position: 'center';
  background-size: cover;
  height: 100vh;
} */

/* .container {
  background-color: #F2E8D7
} */